@-webkit-keyframes btn-animation {
  0% {
    -webkit-transform: translateY(0.3rem);
    transform: translateY(0.3rem);
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  100% {
    -webkit-transform: translateY(0rem);
    transform: translateY(0rem);
    -webkit-box-shadow: 0 0.3rem 0.1rem 0 currentColor;
    box-shadow: 0 0.3rem 0.1rem 0 currentColor;
  }
}

@keyframes btn-animation {
  0% {
    -webkit-transform: translateY(0.3rem);
    transform: translateY(0.3rem);
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  100% {
    -webkit-transform: translateY(0rem);
    transform: translateY(0rem);
    -webkit-box-shadow: 0 0.3rem 0.1rem 0 currentColor;
    box-shadow: 0 0.3rem 0.1rem 0 currentColor;
  }
}
